.container {
    height: 100em;
}
textarea {
    border: 5px solid red;
    height: 450px;
    width: 750px;
}
.title {
    font-size: xx-large;
    font-family: "JetBrains Mono Medium";
    font-weight: bolder;
}
.buttons {
    display: flex;
}

#upper-case, #lower-case, #proper-case,#sentence-case, #save-text-file {
    width: 9rm;
    height: 5em;
    color: black;
    font-weight: bolder;
    margin-right: 8px;
    background-color: lightcoral;
    border: 2px solid black;
    cursor: pointer;
}